/* ----------------------------------main-section-----------------------------------*/
.layout1{
    display: flex;
    padding: 1rem;
}

/* ------------------------------------left------------------------------------------ */
.left{
    width: 18rem;
    border-right: 2px solid #7c603c;
    padding: inherit;
}

.left .fourm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left .photo{
    height: 15rem;
    width: 15rem;
    border: 2px solid grey;
    border-radius: 50%;
    display: block;
    margin: auto;
}


.left #image{
    width: 13rem;
}

.left .photo:hover{
    opacity: 0.7;
}
/* -----------------------------------right-------------------------------------- */
.right{
    padding: inherit;
    width: -webkit-fill-available;
}

.right h2{
    font-family: 'Ubuntu', sans-serif;
}