*{
    box-sizing: border-box; 
}

section h1{
    text-align: center;
    color:brown ;
    font-family:unset;
    margin: auto;
}

.heading{
    text-align: center;
    padding: 4px;
}

section.about{
    margin: 50px 0px;
}
/* -----------------------------------For Welcome-------------------------------- */
#first-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section p#welcometext{
    margin: auto;
    font-size: larger;
    width: 45rem;
    display: flex;
    font-family: monospace;
}

@media  screen and (width:1024px) {
    section p#welcometext{
        width: 36rem;
    }   
}

section img#welcomepic{
    width: 20rem;
    display: flex;
    margin: 1rem;
    border-radius: 1rem;
}

/* ---------------------------------For CustomInput---------------------------- */

section p#custominputtext{
    margin: 25px 0px;
    font-size: larger;
    font-family: monospace;
}

section img#custominputpic{
    width: 100%;
    border: ridge;
    margin: 10px 0px;
}

/* ----------------------------------Our ambition-------------------------------- */

section p#ourambitiontext{
    margin: 25px 0px;
    font-size: larger;
    font-family: monospace;
}

section p#ourambitiontext2{
    margin: 25px 0px;
    font-size: larger;
    font-family: monospace;
}

