a{
    text-decoration: none;
}
/* -------------------------------------header style------------------------------- */

.head-section{
    opacity: 0.9;
    position: sticky;
    top: 0rem;
    z-index: 6;
}

img.logo{
    height: auto;
    width: 10rem;
}

/* navbar style  */
.navbar-collapse{
    text-align: center;
}

.nav-item{
    margin: 8px;
}
.nav-item:hover{
    background-color: brown
}

/* ------------------------------footer style--------------------------------------*/
footer.footer{
    width: 100%;
    margin-top: 4%;
    background-color: black;
    opacity: 0.8;
}
.upper{
    height: 144px;
    display: flex;
    align-items: center;
}
.upper a{
    height: fit-content;
} 
footer img.logo{
    height: 5rem;
    width: 10rem;
    margin-top: 3%;
}
ul.footermenu{
    display: flex;
    list-style: none;
    margin: 0px 0px;
    height: fit-content;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
li.footeritem{
    padding: 4px;
    font-size: 1rem;
}
a.footeritem-link{
    color:bisque;
}
a.footeritem-link:hover, li.footeritem:hover{
    color: brown;
    background-color:ivory;
}

hr{
    color:burlywood;
    margin: auto;
}
hr:not([size]) {
    height: 3px;
}
/* For lower part of footer  */
.lower{
    width: 100%;
    height: auto;
    padding: 1px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

p.lowertext{
    font-size: small;
    color: cornsilk;
    margin: 10px;
}

ul#lowerlist{
    list-style: none;
    display: flex;
    flex: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mycontacts{
    
    font-size: small;
}

.contact-link{
    color: burlywood;
}

img.made-icon{
    width: 22px;
}

