{% extends 'base.html' %}

{% block title %}
    ide
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='ide/ide.css') }}">

    <div class="container">
        <div class="welcomeNote">
            <div id="heading">
                <h1>Welcome to</h1>
                <img src=" {{ url_for('static', filename='assets/logo.png') }} " alt="logo">
            </div>
            <p>Code, Compile and Run fastly</p>
        </div>
        {% include 'include/message.html' %}
        <div class="header">Code Arena online IDE</div>
        <div class="control-panel">
            Theme:
            <select id="theme" class="theme" onchange="changetheme()">
                <option value="ace/theme/monokai" selected>Monokai</option>
                <option value="ace/theme/solarized_light" >light</option>
                <option value="ace/theme/tomorrow_night_blue" >Night_blue</option>
            </select>
            
            </select>
            Select Language:
            <select id="languages" class="languages" onchange="changelanguage()">
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="py">Python 3.8</option>
            </select>
        </div>
        <div class="editor" id="editor"></div>

        <div class="button-container">
            <span class="d-none" id="loader">
                <i class="fa fa-spinner fa-spin" style="font-size:20px"></i>Running
            </span>
            <input type="checkbox" class="button" onclick="ischecked(this)">Custom Input
            <button class="btn btn-primary button" onclick="runCode()">Run</button>
        </div>
        
        <div class="inputSection">
            <h5>Input</h5>
            <textarea name="input" class="input" rows="3" cols="40"></textarea>
        </div>

        <div class="outputSection">
            <h5>Output</h5>
            <textarea class="output" readonly></textarea>
        </div>
    </div>
    
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='ide/lib/ace.js') }} "></script>
    <script src=" {{ url_for('static', filename='ide/lib/theme-monokai.js') }} "></script>
    <script src=" {{ url_for('static', filename='ide/lib/theme-solarized_light.js') }} "></script>
    <script src=" {{ url_for('static', filename='ide/lib/theme-tomorrow_night_blue.js') }} "></script>
    <script src="{{ url_for('static', filename='ide/ide.js') }}"></script>
{% endblock body %}